@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("woff"), url("/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway";
  text-decoration: none;
}

.containerAll {
  margin: 0 4rem 0 4rem;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container-menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container-menu-logo #logo {
  margin: 25px 0;
}

header .container-menu-logo nav li {
  list-style-type: none;
  padding: 0px 24px;
}

header .container-menu-logo nav li a {
  color: #0065fc;
  padding-top: 20px;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .container-menu-logo nav li:before {
  content: "";
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  display: block;
  height: 2px;
  width: 100%;
}

header .container-menu-logo nav li:first-child::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #0065fc;
}

header .container-menu-logo nav li:hover:before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #0065fc;
}

header .header {
  margin-bottom: 5rem;
}

header .header h1 {
  font-family: "Raleway-ExtraBold";
}

header .header .container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

header .header .container-search i {
  background-color: #f2f2f2;
  display: block;
  padding: 10px;
  border-radius: 15px 0 0 15px;
}

header .header .container-search input {
  font-family: "Raleway-ExtraBold";
  font-weight: bold;
  background-color: #FFF;
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
}

header .header .container-search p {
  text-align: center;
  color: #fff;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  padding: 10px;
}

header .header .container-filtre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

header .header .container-filtre p {
  font-weight: bold;
  padding-right: 20px;
}

header .header .container-filtre li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  margin: 0 10px;
  padding-right: 15px;
}

header .header .container-filtre li a {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

header .header .container-filtre li i {
  background-color: #deebff;
  padding: 10px;
  color: #0065fc;
  margin-right: 10px;
  height: 44px;
  width: 42px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .info i {
  margin-right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #f2f2f2;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  color: #0065fc;
}

footer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  background-color: #f2f2f2;
}

footer .foot1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
}

footer .foot1 h3, footer .foot1 p {
  margin: 15px;
}

.price {
  font-weight: bold;
}

.container-stars {
  color: #0065fc;
}

.container-stars .starE {
  color: #f2f2f2;
}

.container-img1 {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}

.hostingWrapper, .hostingPopular, .hostingMain {
  background-color: #F2F2F2;
  border-radius: 1.5rem;
  padding: 2rem;
}

.hosting {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -ms-grid-columns: 6fr 3fr;
      grid-template-columns: 6fr 3fr;
}

.hostingMain {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}

.hostingMainHeader {
  grid-column: 1/-1;
}

.hostingMainHeaderTitle {
  margin: 0;
}

.hostingMainCard {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0 0 16px #0000002e;
          box-shadow: 0 0 16px #0000002e;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.hostingMainCard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.hostingMainCardFigure {
  margin: 0;
}

.hostingMainCardFigureImg {
  height: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.hostingMainCardFigureCaptionTitle {
  margin: 0.25rem 0.75rem 0 0.75rem;
}

.hostingMainCardDesc {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.hostingMainCardDescPrice {
  font-weight: bold;
}

.hostingMainCardGrade {
  margin: 0 0.75rem 0.25rem 0.75rem;
}

.hostingMainCardGradeIcon[data-active=true] {
  color: #0065FC;
}

.hostingMainCardGradeIcon[data-active=false] {
  color: #d9d9d9;
}

.hostingMainViewmore {
  font-weight: bold;
}

.hostingPopular {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-rows: auto (1fr)[3];
      grid-template-rows: auto repeat(3, 1fr);
}

.hostingPopularTitle {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hostingPopularWrapcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  overflow: auto;
}

.hostingPopularWrapcontentWrapimg {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}

.hostingPopularWrapcontentWrapimgImg {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hostingPopularWrapcontentContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hostingPopularWrapcontentContentWhitespace {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hostingPopularhostingMainCard {
  height: 8.75rem;
}

@media (max-width: 1440px) {
  .hosting {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .hostingPopular {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto 10rem;
        grid-template-rows: auto 10rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .hostingPopularTitle {
    grid-column: 1/-1;
  }
}

@media (min-width: 925px) {
  .hostingMain {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 925px) and (min-width: 650px) {
  .hostingMain {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .hostingMain {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .hostingPopular {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto (9rem)[3];
        grid-template-rows: auto repeat(3, 9rem);
  }
}

.activity {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  margin: 4rem 0;
}

.activityTitle {
  grid-column: 1/-1;
}

.activityCard {
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.activityCard:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.activityCardWrapimg {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.activityCardWrapimgImg {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.activityCardTitle {
  margin: 1.2rem 1.5rem;
}

@media (min-width: 1100px) {
  .activity {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto 14rem 2rem 2rem 2rem 14rem;
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }
  .activityCard1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2/7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .activityCard2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }
  .activityCard3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2/7;
  }
  .activityCard4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .activityCard5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .activityCard6 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
  }
}

@media (max-width: 1100px) {
  .activity {
    row-gap: 2rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto 12rem 12rem;
        grid-template-rows: auto 12rem 12rem;
  }
}

@media (max-width: 925px) {
  .activity {
    row-gap: 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 12rem 12rem 12rem;
        grid-template-rows: auto 12rem 12rem 12rem;
  }
}

@media (max-width: 650px) {
  .activity {
    row-gap: 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
        grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
  }
}
/*# sourceMappingURL=style.css.map */