// charte du site
$sky: #deebff;
$dark: #0065fc;
$bg: #f2f2f2;

//importation de la police
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("woff"),
    url("/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("woff2");
}

// reset de la page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  text-decoration: none;
}

.containerAll {
  margin: 0 4rem 0 4rem;
}
header {
    ul {
        display: flex;
    }
  .container-menu-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #logo {
      margin: 25px 0;
    }

    nav {
      
        li {
          list-style-type: none;
          padding: 0px 24px;

          a {
            color: $dark;
            padding-top: 20px;
            display: block;
            transition: all 0.5s;
          }
          &:before {
            // mise en de la transistion
            content: "";
            transition: all 0.7s;
            display: block;
            height: 2px;
            width: 100%;
          }
          &:first-child::before {
            // le premier element aura cette propriete (hébergement)
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            background-color: $dark;
          }
          &:hover:before {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            background-color: $dark;
          }
        }
    }
  }
  .header {
    margin-bottom: 5rem;

    h1 {
      font-family: "Raleway-ExtraBold";
    }
    .container-search{
        display: flex;
        margin-top: 30px;
        i{
            background-color: $bg;
            display: block;
            padding: 10px;
            border-radius: 15px 0 0 15px  ;
        }

        input{
            font-family: "Raleway-ExtraBold";
            font-weight: bold;
            background-color: #FFF;
            border: 1px solid $bg;
            border-left: none;
            border-right: none;
        }
        p{
            text-align: center;
            color: #fff;
            background-color: $dark;
            border-radius: 0 15px 15px 0;
            padding: 10px;
        }
    }

    .container-filtre{
        display: flex;
        align-items: center;
        margin-top: 40px;
        p{
            font-weight: bold;
            padding-right: 20px;
        }
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            list-style-type: none;
            border: 1px solid $bg;
            border-radius: 25px;
            margin: 0 10px;
            padding-right: 15px;
            a{
                text-transform: capitalize;
                font-weight: bold;
                text-decoration: none;
                color: #000;

            }
            i{
                background-color: $sky;
                padding: 10px;
                color: $dark;
                margin-right: 10px;
                height: 44px;
                width: 42px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        
    }
    .info{
        display: flex;
        padding-top: 20px;
        align-items: center;
        i{
            margin-right: 20px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: $bg;
            text-align: center;
            align-items: center;
            padding: 5px;
            color: $dark;
        }
    }
    
  }
  
}

  
  footer{
      margin-top: 5rem;
      display: flex;
      padding: 30px;
      background-color: $bg;
      .foot1{
          flex: 1;
        margin: 20px;
        h3,p{
            margin: 15px;
        }
    }
    
  }
  .price{
      font-weight: bold;
  }
  .container-stars{
      color: $dark;
      .starE{
          color:$bg;
      }
  }
  .container-img1{
      background-color: #fff;
      padding: 10px;
      border-radius: 15px;
      margin: 10px;
  }

  .hostingWrapper, .hostingPopular, .hostingMain {
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
  }
  
  .hosting {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
  }
  .hostingMain {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .hostingMainHeader {
    grid-column: 1/-1;
  }
  .hostingMainHeaderTitle {
    margin: 0;
  }
  .hostingMainCard {
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
  }
  .hostingMainCard:hover {
    transform: scale(1.02);
  }
  .hostingMainCardFigure {
    margin: 0;
  }
  .hostingMainCardFigureImg {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .hostingMainCardFigureCaptionTitle {
    margin: 0.25rem 0.75rem 0 0.75rem;
  }
  .hostingMainCardDesc {
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  }
  .hostingMainCardDescPrice {
    font-weight: bold;
  }
  .hostingMainCardGrade {
    margin: 0 0.75rem 0.25rem 0.75rem;
  }
  .hostingMainCardGradeIcon[data-active=true] {
    color: #0065FC;
  }
  .hostingMainCardGradeIcon[data-active=false] {
    color: #d9d9d9;
  }
  .hostingMainViewmore {
    font-weight: bold;
  }
  .hostingPopular {
    display: grid;
    row-gap: 2rem;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
  }
  .hostingPopularTitle {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .hostingPopularWrapcontent {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
  }
  .hostingPopularWrapcontentWrapimg {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
  }
  .hostingPopularWrapcontentWrapimgImg {
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hostingPopularWrapcontentContent {
    display: flex;
    flex-direction: column;
  }
  .hostingPopularWrapcontentContentWhitespace {
    flex: 1;
  }
  .hostingPopularhostingMainCard {
    height: 8.75rem;
  }
  
  @media (max-width: 1440px) {
    .hosting {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
    .hostingPopular {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 10rem;
      column-gap: 2rem;
      grid-row-start: 1;
    }
    .hostingPopularTitle {
      grid-column: 1/-1;
    }
  }
  @media (min-width: 925px) {
    .hostingMain {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 925px) and (min-width: 650px) {
    .hostingMain {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 650px) {
    .hostingMain {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 1000px) {
    .hostingPopular {
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(3, 9rem);
    }
  }
  .activity {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
  }
  .activityTitle {
    grid-column: 1/-1;
  }
  .activityCard {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
  }
  .activityCard:hover {
    transform: scale(1.01);
  }
  .activityCardWrapimg {
    position: relative;
    flex: 1;
  }
  .activityCardWrapimgImg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .activityCardTitle {
    margin: 1.2rem 1.5rem;
  }
  
  @media (min-width: 1100px) {
    .activity {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    }
    .activityCard1 {
      grid-row: 2/7;
      grid-column: 1/2;
    }
    .activityCard2 {
      grid-column: 2/3;
      grid-row: 2/5;
    }
    .activityCard3 {
      grid-column: 3/4;
      grid-row: 2/7;
    }
    .activityCard4 {
      grid-column: 4/5;
      grid-row: 2/3;
    }
    .activityCard5 {
      grid-column: 2/3;
      grid-row: 6/7;
    }
    .activityCard6 {
      grid-column: 4/5;
      grid-row: 4/7;
    }
  }
  @media (max-width: 1100px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 12rem 12rem;
    }
  }
  @media (max-width: 925px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 12rem 12rem 12rem;
    }
  }
  @media (max-width: 650px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
  }