@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("woff"), url("/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway";
  text-decoration: none;
}

.containerAll {
  margin: 0 15px 0 15px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container-menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container-menu-logo #logo {
  margin: 25px 0;
}

header .container-menu-logo nav li {
  list-style-type: none;
  padding: 0px 24px;
}

header .container-menu-logo nav li a {
  color: #0065fc;
  padding-top: 20px;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .container-menu-logo nav li:before {
  content: "";
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  display: block;
  height: 2px;
  width: 100%;
}

header .container-menu-logo nav li:first-child::before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #0065fc;
}

header .container-menu-logo nav li:hover:before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #0065fc;
}

header section h1 {
  font-family: "Raleway-ExtraBold";
}

header section .container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

header section .container-search i {
  background-color: #f2f2f2;
  display: block;
  padding: 10px;
  border-radius: 15px 0 0 15px;
}

header section .container-search input {
  font-family: "Raleway-ExtraBold";
  font-weight: bold;
  background-color: #FFF;
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
}

header section .container-search p {
  text-align: center;
  color: #fff;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  padding: 10px;
}

header section .container-filtre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

header section .container-filtre p {
  font-weight: bold;
  padding-right: 20px;
}

header section .container-filtre li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  margin: 0 10px;
  padding-right: 15px;
}

header section .container-filtre li a {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

header section .container-filtre li i {
  background-color: #deebff;
  padding: 10px;
  color: #0065fc;
  margin-right: 10px;
  height: 44px;
  width: 42px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section .info i {
  margin-right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #f2f2f2;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  color: #0065fc;
}
/*# sourceMappingURL=style.css.map */